// z-index for dark-cover
$zindex-cover: 1050;

// Color
$primary: #F44336;
$secondary: #FFC107;
// Media breakpoint
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);


$border-color: $gray-200;