$body-font-family = "Spoqa Han Sans", Helvetica, Arial, sans-serif

$button-border-radius = 0
$button-margin-x = 0
$button-margin-y = 0
$button-font-size = 16px

@import '~vuetify/src/stylus/main'
// For a-la-carte
// @import '~vuetify/src/stylus/app'